@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color: lightgray">
    <div class="text-center" >
        <h2>Welcome to Contoso University</h2>
        <img src="https://images.pexels.com/photos/220351/pexels-photo-220351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
    </div>
</body>


